@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

body {
	height: 100%;
	font-family: 'Times New Roman', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-image: url("../images/background.jpg");

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 500;
	color: white;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: white;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

/*HEADER*/

.header-section {
	background: #131313;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid #FF2020;
}
.main-menu a{
	text-decoration: none;
}

.main-menu a:hover{
	text-decoration: underline;
}

.site-logo {
	position: absolute;
	height: 70px;
  width: 70px;
	top: 20px;
	left: 20px;
	padding-top: 6px;
	animation-name: logospin;
	animation-duration: 3s;
	z-index: 100;
}

.site-logo:hover {
	position: absolute;
	top: 20px;
	left: 20px;
	padding-top: 6px;
	animation-name: logo;
	animation-duration: 2s;
}

@keyframes logo {
	 0%{left: 20px;}
	 50%{left: 35px;}
	 100%{left: 20px;}
}

@keyframes logospin {
	 100%{transform: rotate(360deg);}

}

.user-panel {
	float: right;
	font-weight: 500;
	background: rgba(255,32,32, 0.3);
	padding: 8px 28px;
	border-radius: 30px;
  border-bottom: 1px solid #FF2020;
}

.user-panel:hover{
  background:rgba(255,32,32, 0.7);
}

.user-panel a {
	font-size: 14px;
	color: #131313;
	text-decoration: none;
}

.dropbtn {
    background-color: rgba(255,32,32, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255,32,32, 0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
}

#cartitem{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a{
	text-decoration: none;
	color: #FF2020;
	background-color: #f1f1f1;
	font-size: 20px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.main-menu {
	float: right;
	margin-right: 170px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #FF2020;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

#filt{
	position: absolute;
	right: 45%;
	top: 11%;
}

#platselect{
	position: absolute;
	right: 45%;
	top: 11%;
}

.nav2 {
    width: 100%;
    height: 60px;
    background: #131313;
    postion: fixed;
    z-index: 10;
}

.nav2 div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

.nav2 ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
.nav2 ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}
.nav2 ul li a {
    text-decoration: none;
    color: #a9abae;
}

.video{
	width: 100%;
}

/* Featured */

.featured-section {
	position: relative;
	top: 30%;
	left:5%;
}

.featured-item {
	position: relative;
	border: 3px solid #FF2020;
}

.featured-item img {
	min-width: 100%;
	height: 300px;
}

.featured-item .site-btn {
	position: absolute;
	z-index: 1;
	min-width: 162px;
	padding: 23px 30px;
	left: calc(50% - 61px);
	bottom: -30px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	background: rgba(255,32,32, 0.3);
	border-radius: 30px;
  border: 3px solid #FF2020;
}

.site-btn:hover{
	background: rgba(255,32,32, 1);
}

.col{
	float:left;
	width:30%;
	height: 500px;
}

.col article{
	margin-top: 35px;
	color: white;
}

.indexgames{
	border-bottom: 3px solid #FF2020;
	color: white;
}

.product-item .pi-meta{
	color:white;
}

#advertcam{
	position:relative;
	width:30%;
	height:200px;
	padding-bottom: 20px;
}

#advertgame{
	position:relative;
	width:30%;
	height:500px;
	padding-bottom: 20px;
}

.camsection{
		border-top: 3px solid #FF2020;
		width:100%;
}

.featured-section{
	width: 90%;
}

.camsection h2, a, img{
	left:0%;
}

.gamesection{
		border-top: 3px solid #FF2020;
		width:100%;
}

.gamesection h2, a, img{
	left:5%;
}
#map{
	position: relative;
	top: 40px;
	left: 20px;
}

.contact-page{
	position: relative;
	float: right;
	top: 40px;
	width: 50%;
	color: white;
}

/* Footer */

#footer{
	background-color: #131313;

}

#footer .innerfooter {
	border-top: 3px solid #FF2020;
	padding-top: 3em;
}

#footer .copyright {
	position: absolute;
	float: left;
	color: #bbb;
	font-size: 0.8em;
	margin: 0 0 2em 0;
	padding: 0;
}

/* Responsiveness */

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 90px;
	}
	#filt{
		top: 70px;
	}
	.video{
		width: 990px;
	}
	#platselect{
		top: 70px;
	}
	.product-item figure{
		width: 450px;

	}
	.product-item {
		 margin-bottom: 95px;
	   height: 500px;
	}
	.site-logo {
		height: 65px;
	  width: 65px;
	}

	.footer-top-bg {
		max-width: 370px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		height: 60px;
	  width: 60px;
	}
	.main-menu {
		margin-right: 25px;
	}
	.video{
		width: 760px;
	}
	#filt{
		top: 70px;
	}
	#platselect{
		top: 70px;
	}
	.product-item figure {
		width: 300px;
	}
	.main-menu ul li a {
		margin-left: 15px;
	}
	.user-panel {
		padding: 8px 15px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 80px;
		height: 80px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 95px;
	}
	.footer-top-bg {
		display: none;
	}

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		overflow: visible;
		padding: 23px 0;
	}
	.video{
		width: 760px;
	}
	.header-section .container {
		position: relative;
	}
	.site-logo {
		height: 35px;
	  width: 35px;
	}
	.main-menu {
		display: none;
		position: absolute;
		top: calc(100% + 24px);
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 999;
	}
	#filt{
		display: block;
	}
	#platselect{
		display: block;
	}
	.main-menu ul li {
		display: block;
		border-bottom: 1px solid #ececec;
	}
	.main-menu ul li a {
		margin-left: 0;
		color: #131313;
		padding: 13px 26px;
	}
	.nav-switch {
		position: absolute;
		top:-25px;
		right: 1%;
		color: #fff;
		display: block;
		float: right;
		cursor: pointer;
		font-size: 25px;
	}
	.user-panel {
		display: none;
	}
	.product-item figure img {
		height: 100px;
	}

	.feature-item {
		margin-bottom: 30px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.footer-top-bg {
		display: none;
	}
	.footer-section {
		padding: 30px 0 20px;
		text-align: center;
	}
	.footer-menu li:first-child a {
		margin-left: 0;
	}
	.footer-menu,
	.copyright {
		float: none;
	}
	.copyright {
		padding-top: 15px;
	}
	.community-post-list li {
		padding: 30px 25px 30px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.hero-slider .owl-dots {
		padding: 0 15px;
	}
	.video{
		width: 570px;
	}
	.feature-section {
		padding-left: 15px;
		padding-right: 15px;
	}
	.community-post-list .community-post .author-avator {
		float: none;
	}
	.community-post-list .community-post .post-content {
		padding-left: 0;
		padding-top: 30px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.video{
		width: 470px;
	}
	.ln-title {
		display: none;
	}
	.news-ticker {
		width: 100%;
	}
	.tournament-item .ti-thumb {
		width: 100%;
		height: 230px;
		float: none;
	}

	.top-comment .tc-item .tc-content {
		padding-left: 85px;
	}
	.site-btn {
		padding: 11px 30px;
		min-width: 145px;
	}
	.comment-list .comment .comment-avator {
		float: none;
	}
	.comment-list .comment .comment-content {
		padding-left: 0;
		padding-top: 20px;
	}
	.footer-widget {
		padding: 40px 15px 7px;
	}
	.page-info-section .pi-content h2 {
		font-size: 40px;
	}
}
